@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#galeria img {
  width: 100%;
  height: 250px; }

#galeria img:hover {
  border: 5px solid #f7f7f7; }

.containertext {
  color: red;
  font-size: 300;
  font-size: 1em;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center; }

.todo {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
