@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$mainFont: "Roboto", sans-serif;

// texto
$textMd: 1em;
$textLg: 2em;
$textXL: 3em;

// font-weight

$bold: 600;
$regular: 400;
$light: 300;
